.gameBox {
  padding: 20px;
  border-radius: 35px;
  border: 0.5px solid black;
  box-sizing: border-box;
  display: grid;
  row-gap: 7px;

  .sportName {
    font-weight: 800;
  }

  .teamRow {
    display: flex;

    .teamName {
      font: 800;
    }
  
    .teamScore {
      font: 800;
      padding-left: 10px;
    }  
  }
}

